<div class="header bg-gradient-danger py-7 py-lg-8">  
    <div class="separator separator-bottom separator-skew zindex-100">  
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
          </svg>      
        <div class="container" style="margin-top: -15px;">
            <h1 style="color: #fff; font-size: 50px;">Welcome!</h1>            
        </div>
    </div>
</div>
<div class="container">    
    <div class="row justify-content-center">
        <div class="col-lg-9 col-md-7">
            <h2 style="color: #fff; font-size: 30px;">With the To Do List software you will be able to organize your activities much better and also better manage your time over the days. Enjoy!</h2>
        </div>
    </div>
</div>